$primary: #ff6565 !default;
$black: #1d1d1b !default;
$white: #fff !default;
$secondary: #9cb0bf !default;
$secondary-medium: #6f8e9f !default;
$secondary-dark: #2d4252 !default;
$secondary-light: #f4f6f8 !default;
$primary-dark: #d64949 !default;
$primary-light: #ffe0e0 !default;
$lightgrey: #f3f3f3 !default;
$completed: #4dca7f !default;
$neutral: #ddd !default;
$error: #e81c1c !default;
$tipi-yellow: #efca53 !default;
$yellow: $tipi-yellow;

$colors: (
  "primary": $primary,
  "primary-dark": $primary-dark,
  "primary-light": $primary-light,
  "secondary": $secondary,
  "secondary-dark": $secondary-dark,
  "secondary-light": $secondary-light,
  "yellow": $yellow,
  "error": $error,
  "white": $white,
  "black": $black,
  "completed": $completed,
  "neutral": $neutral,
) !default;

$navbar-background-color: $white !default;
$menu-link-color: $secondary-dark !default;
$navbar-toogle-color: $secondary-dark !default;
$topic-pill-color: $white !default;
