$base-radius: 4px;

$o-container: 1120px !default;
$o-container__gutter: 32px !default;
$o-container__gutter-single: calc($o-container__gutter / 2) !default;
$container-max: $o-container + $o-container__gutter !default;

$grid-gap: 32px !default;
$grid-gap-single: calc($grid-gap / 2) !default;

$spacer-unit: 16px !default;

$grid-fractions: (
  "1": calc(1 / 12),
  "2": calc(2 / 12),
  "2-5": calc(2 / 10),
  "3": calc(3 / 12),
  "4": calc(4 / 12),
  "5": calc(5 / 12),
  "6": calc(6 / 12),
  "7": calc(7 / 12),
  "8": calc(8 / 12),
  "9": calc(9 / 12),
  "10": calc(10 / 12),
  "11": calc(11 / 12),
  "12": calc(12 / 12),
) !default;

$o-section-gap: $spacer-unit * 4 !default;
$o-section-gap-lg: $o-section-gap !default;

$percent-widths: (15, 20, 25, 33, 40, 50) !default;

$logo-width: 200px !default;
$decorator-mobile-height: $spacer-unit !default;
$decorator-desktop-height: $spacer-unit !default;
$topic-pill-separator: 0 !default;
