.u-topic-bg {
  &__lgtbi {
    background-image: url('../assets/topics/lgtbi.jpg');
  }

  &__energia-y-clima {
    background-image: url('../assets/topics/energia-y-clima.jpg');
  }

  &__democracia {
    background-image: url('../assets/topics/democracia.jpg');
  }

  &__comercio-internacional{
    background-image: url('../assets/topics/comercio-internacional.jpg');
  }

  &__adicciones{
    background-image: url('../assets/topics/adicciones.jpg');
  }

  &__conflictos-y-paz{
    background-image: url('../assets/topics/conflictos-y-paz.jpg');
  }

  &__cooperacion-al-desarrollo{
    background-image: url('../assets/topics/cooperacion-al-desarrollo.jpg');
  }

  &__derechos-digitales{
    background-image: url('../assets/topics/derechos-digitales.jpg');
  }

  &__dependencia{
    background-image: url('../assets/topics/dependencia.jpg');
  }

  &__educacion{
    background-image: url('../assets/topics/educacion.jpg');
  }

  &__empleo{
    background-image: url('../assets/topics/empleo.jpg');
  }

  &__fiscalidad{
    background-image: url('../assets/topics/fiscalidad.jpg');
  }

  &__igualdad-de-genero{
    background-image: url('../assets/topics/igualdad-de-genero.jpg');
  }

  &__infancia{
    background-image: url('../assets/topics/infancia.jpg');
  }

  &__migraciones{
    background-image: url('../assets/topics/migraciones.jpg');
  }

  &__discapacidad{
    background-image: url('../assets/topics/discapacidad.jpg');
  }

  &__mayores{
    background-image: url('../assets/topics/mayores.jpg');
  }

  &__personas-sin-hogar{
    background-image: url('../assets/topics/personas-sin-hogar.jpg');
  }

  &__poblacion-gitana{
    background-image: url('../assets/topics/poblacion-gitana.jpg');
  }

  &__poblacion-reclusa{
    background-image: url('../assets/topics/poblacion-reclusa.jpg');
  }

  &__proteccion-social{
    background-image: url('../assets/topics/proteccion-social.jpg');
  }

  &__sanidad{
    background-image: url('../assets/topics/sanidad.jpg');
  }

  &__vivienda{
    background-image: url('../assets/topics/vivienda.jpg');
  }
}
