a {
  color: $black;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

.u-border-link {
  @include border-link;
  & {
    transition: all 0.15s ease-in-out;
    cursor: pointer;
    // display: flex;
    // justify-content: center;
    // gap: 1rem;
    // align-items: center;
  }

  &:hover {
    background: $black;
    color: $white;
    text-decoration: none;

    svg path {
      fill: $white;
    }
  }
}
