ul {
  line-height: 32px;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    color: $secondary-dark;

    &::before {
      content: "·";
      display: inline-block;
      font-size: 16px;
      margin-left: 8px;
      margin-right: 8px;
    }

    ul {
      @include tbody2;

      margin-left: rem($spacer-unit * 3);
      margin-bottom: rem($spacer-unit);

      li {
        margin-bottom: 0;
      }
    }
  }
}

ol {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: section;
  line-height: 32px;

  li {
    color: $secondary-dark;

    &::before {
      @include overline;

      counter-increment: section;
      content: counters(section, ".") ". ";
      margin-left: 8px;
      margin-right: 8px;
    }

    ol {
      @include tbody2;

      margin-left: rem($spacer-unit * 3);
      margin-bottom: rem($spacer-unit);

      li {
        margin-bottom: 0;

        &::before {
          color: $secondary;
        }
      }
    }
  }
}
