/* GRID */
@function str-replace($string, $search, $replace) {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(
        str-slice($string, $index + str-length($search)),
        $search,
        $replace
      );
  }

  @return $string;
}

/* TYPOGRAPHY */

/* Convert pixels to rem */
@function rem($size) {
  $remSize: calc($size / 16px);

  @return #{$remSize}rem;
}
