$primary: #a3d5c8;
$primary-dark: #112490;
$secondary: #d0d0d0;
$secondary-dark: #1d1d1b;
$navbar-background-color: #fff;
$menu-link-color: #fff;
$navbar-toogle-color: #fff;
$topic-pill-color: $secondary-dark;

$topic-pill-separator: 1px;
