$primary: #1630BE;
$primary-dark: #1228A0;
$primary-light: #DFAB5C;
$secondary: #AEAEAE;
$secondary-dark: #1E1E1E;
$navbar-background-color: $secondary-dark;
$menu-link-color: #fff;
$navbar-toogle-color: #fff;
$topic-pill-color: $secondary-dark;

$yellow: #FBC239;

$topic-pill-separator: 1px;
