$primary: #FBC239;
$primary-dark: #CBBE74;
$primary-light: #DFAB5C;
$navbar-background-color: #000;
$menu-link-color: #fff;
$navbar-toogle-color: #fff;
$topic-pill-color: #000;


$topic-pill-separator: 1px;
