.c-barchart {
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    position: relative;
    flex-wrap: wrap;
    margin-bottom: 32px;

    @media (min-width: $sm) {
      flex-wrap: nowrap;
      margin-bottom: 16px;
    }
  }

  &__name {
    margin-right: 6px;
    margin-bottom: 0px !important;
    flex-basis: 20%;
  }

  &__bar {
    flex: 1 1 auto;
    overflow: hidden;
    position: relative;
    flex-basis: 100%;

    @media (min-width: $sm) {
      flex-basis: 70%;
    }
  }

  &__backbar {
    width: 100%;
  }

  &__overbar {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    transition: width 500ms cubic-bezier(0.59, 0.12, 0.34, 0.95) 350ms;
  }

  &__score {
    position: absolute;
    z-index: 10;
    top: 25%;
    left: 24px;
  }

  &__more {
    margin-left: 6px;

    @media (min-width: $sm) {
      order: 3;
    }
  }
}

/* Animation */
.barfade {
  &-enter-active,
  &-leave-active,
  &-move {
    transition: 350ms cubic-bezier(0.59, 0.12, 0.34, 0.95);
    transition-property: opacity, transform;

    .c-barchart__overbar {
      width: 0 !important;
    }
  }

  &-enter,
  &-leave-to {
    opacity: 0;
    transform: translateX(50px);
  }
}

