.c-initiative-meta {

  &__status {
    @include overline;

    display: block;
    color: $white;
    padding: rem($spacer-unit);
    text-align: center;

    &--neutral {
      background-color: $secondary;
      color: $black;
    }

    &--completed {
      background-color: $completed;
      color: $white;
    }

    &--error {
      background-color: $error;
      color: $white;
    }
  }

  &__link {
    @include overline;

    text-transform: none;
    text-decoration: none;
    color: $black;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      margin-right: rem($spacer-unit);
    }

    &:hover {
      color: $primary;

      svg {

        path {
          fill: $primary;
        }
      }
    }
  }

  .c-icon {
    margin-right: 8px;
  }

  &__status {
    text-align: left;
    padding: 0 0 0 rem($spacer-unit);

    &--neutral {
      background-color: transparent;
      border-color: $secondary;
      color: $secondary;

      svg path {
        fill: $secondary;
      }
    }

    &--completed {
      background-color: transparent;
      border-color: $completed;
      color: $completed;

      svg path {
        fill: $completed;
      }
    }

    &--error {
      background-color: transparent;
      border-color: $error;
      color: $error;

      svg path {
        fill: $error;
      }
    }
  }
}
