.c-footer {

  background-color: $secondary-dark;
  color: $white;

  &__brand {

    &-link {
      display: block;
    }

    &-logo {
      display: block;
      height: auto;
      width: 200px;
      padding-bottom: rem($spacer-unit*2);
    }
  }

  &__section {

    &-title {
      text-transform: uppercase;
    }

    &-links {
      a {
        display: block;
        color: $white;
        text-decoration: none;
        line-height: 2;

        &:hover {
          text-decoration: underline;
        }

      }
    }

    &-icons {
      a {
        display: inline;
        padding-right: rem($spacer-unit);
        color: $white;
        text-decoration: none;
        line-height: 2;

        &:hover {
          text-decoration: underline;
        }

      }
    }
  }

  &__menu {

    list-style: none;

  }

  &__credits {
    color: $white;
    font-size: rem(14px);
    line-height: 1.5;
    text-align: right;
  }
}
