.c-icon {
  svg {
    fill: #2d4252;
  }

  @each $color-name, $color-value in $colors {
    &--#{$color-name} {
      path {
        fill: $color-value !important;
      }
    }
  }

  &--type-less {
    svg {
      margin-bottom: 4px;
    }
  }
}
