.c-deputy-card {
  @include tbody2;

  &__wrapper {
    display: flex;
    align-items: center;

    &__image-block {
      display: block;
      position: absolute;
    }

    &__image {
      border-radius: 50%;
      object-fit: cover;
      vertical-align: middle;
    }

    &__image-small {
      width: rem($spacer-unit*2);
      height: rem($spacer-unit*2);
      margin-right: rem($spacer-unit/2);
      border: 2px solid $primary;
    }

    &__image-medium {
      width: rem($spacer-unit*4);
      height: rem($spacer-unit*4);
      margin-right: rem($spacer-unit);
      border: 2px solid $primary;
    }

    &__image-large {
      width: rem(160px);
      height: rem(160px);
      margin-right: rem($spacer-unit*2);
      border: 4px solid $primary;
    }

    &__info {

      text-transform: uppercase;

      h4, p, h5 {
        margin-top: 0px;
        margin-bottom: rem($spacer-unit/4);
      }

    }

  }

  &__small-layout { }

  &__medium-layout {
    display: flex;
    align-items: center;

    &__image {
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid $primary;
      object-fit: cover;
      vertical-align: middle;
    }
    &__name {
      font-family: $font-headline;
      font-size: 1rem;
      text-align: left;
      text-transform: uppercase;

      span {
        @include tbody2;
      }
    }

  }

  &__large-layout {
    display: flex;
    align-items: center;

    &__image {
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid $primary;
      object-fit: cover;
      vertical-align: middle;
    }
    &__name {
      font-family: $font-headline;
      font-size: 1rem;
      text-align: left;
      text-transform: uppercase;

      span {
        @include tbody2;
      }

      h5 {
        svg {
          width: 10px;
          height: auto;
          margin-right: 4px;
        }
      }
    }

  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

}

.c-deputy-card.small-layout {
  display: inline-block;
}
.c-deputy-card.medium-layout {
  margin-bottom: rem($spacer-unit);
}
