.c-last-activity {
  h1 {
    text-align: center;

    @media (min-width: $sm) {
      text-align: left;
    }
  }

  &__stat {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 4rem;

    @media (min-width: $sm) {
      flex-wrap: nowrap;
    }

    &:first-of-type {
      margin-top: 4rem;
    }
  }

  &__number {
    font-size: rem(64px);
    line-height: rem(80px);
    width: 100%;

    @media (min-width: $sm) {
      width: auto;
    }

    .c-icon svg {
      margin-bottom: 14px;
    }
  }

  &__type {
    width: 100%;
    text-align: center;

    @media (min-width: $sm) {
      text-align: left;
      width: auto;
    }
  }

  &__description {
    width: 100%;
    text-align: center;

    @media (min-width: $sm) {
      text-align: left;
      max-width: 544px;
      width: auto;
    }
  }
}
