.c-menu {
  @include th2;

  color: $menu-link-color;
  list-style: none;
  text-align: center;
  padding-top: rem($spacer-unit * 4);

  @media (min-width: $md) {
    @include tbody;

    display: flex;
    flex-wrap: wrap;
    flex: 1;
    text-align: left;
    padding: 0 0 0 rem($spacer-unit * 4);
    margin: 0;
    justify-content: flex-end;
  }

  &__item {
    margin-bottom: rem($spacer-unit * 2);
    padding: 16px 32px;

    @media (min-width: $md) {
      margin-bottom: 0;
    }

    &::before {
      display: none;
    }

    &:last-child {
      @include border-link;

      .c-menu__link {
        background-image: url('../assets/svg/icon-flag.svg');
        background-position: left center;
        background-repeat: no-repeat;
        padding-left: 24px;
      }
    }
  }

  &__link {
    color: $black;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: $black;
      text-decoration: underline;
    }
  }

  &__icon {
    margin-left: 5px;

    & svg {
      width: 10px;
      height: 10px;
    }
  }
}
