.c-gender {
  display: flex;
  gap: rem($spacer-unit);
  margin-bottom: rem($spacer-unit * 2);

  &__icon {
    svg {
      // width: 48px;
      // height: 48px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    &__percentage {
      @include th1;
      margin-bottom: 0.5rem;
    }

    &__name {
      @include th3;
      text-transform: uppercase;
      margin-bottom: 0.5rem;
    }
  }
}
