.c-last-activity {
  &__stat {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: rem($spacer-unit);

    @media (max-width: $sm) {
      flex-direction: column;
    }


  }

  &__number {
    font-size: rem(64px);
    line-height: rem(80px);
    width: 5%;
    @media (max-width: $sm) {
      width: 100%;
    }
  }

  &__type {
    width: 10%;
    @media (max-width: $sm) {
      width: 100%;
    }
  }

  &__description {
    width: 60%;
    margin-left: rem($spacer-unit*4);
    @media (max-width: $sm) {
      width: 100%;
      margin-left: 0px;
    }
  }
}
