.c-topic-link {

  &__image-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem($spacer-unit * 2);
    margin-bottom: rem($spacer-unit * 2);
    transition: transform 0.3s ease;
    background-color: #33333340;
    align-items: flex-end;
    justify-content: flex-start;

    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    h3,
    h4 {
      display: inline-block;
      margin-bottom:0;
    }

    h3 {
      margin-right: 8px;
    }
  }

  &__image {
    max-width: 80%;
    max-height: 80%;
  }

  a {
    text-decoration: none;

    .c-topic-link__name {
      color: $white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
