.c-info-dropdown {
  background-color:$lightgrey;
  padding: 32px;
  margin-bottom: 32px;

  &__title_wrapper {
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    margin: 0;
    display: inline-block;
  }

  &__content {
    margin-top: 32px;

    &__item {
      display:block;
      margin-top:0;
      margin-bottom: 16px;
    }
  }

  &__icon {
    float: right;
    display:inline-block;
    font-family: $font-headline;

    .c-icon {
      margin-left: 16px;
    }
  }
}
