.c-input-label {
  display: inline-block;
  background-color: $lightgrey;
  padding: rem($spacer-unit) rem($spacer-unit * 2);

  input {
    @include tbody;

    outline: none;
    border: none;
    display: block;
    background: transparent;
    padding: 0;

    &::placeholder {
      @include tbody;

      color: $secondary;
    }

    &[type=file] {
      width: 100%;
      height: 100%;
    }
  }

  ::-webkit-file-upload-button {
    border: 0;
    color: transparent;
    width: 0;
    position: relative;
    padding: 0;
    margin: 0;
  }

  label {
    @include overline;
    font-size: rem(12px);
    display: block;
    padding-bottom: rem($spacer-unit);
  }

  &--disabled {
    background-color: $secondary-light;
    pointer-events: none;
  }

  &--error {
    border-color: $error;
    box-shadow: 0 0 0 4px $error inset;
  }

  &--file {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      right: rem($spacer-unit * 2);
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
      width: rem($spacer-unit * 4);
      height: rem($spacer-unit * 3);
      background: url('../assets/svg/icon-upload.svg') no-repeat center center;
    }
  }
}

.c-select-label {
  display: inline-block;
  background-color: $lightgrey;
  padding: rem($spacer-unit) rem($spacer-unit * 2);
  position: relative;
  height: 100%;

  input {
    padding: 0;
    border: 0;
  }

  select {
    @include tbody;

    outline: none;
    border: none;
    display: block;
    background: transparent;
    appearance: none;
    color: $secondary;
    width: 110%;

    &::placeholder {
      @include tbody;

      color: $secondary;
    }
  }

  label {
    @include overline;
    font-size: rem(12px);
    display: block;
  }

  &::after {
    position: absolute;
    content: "";
    right: rem($spacer-unit * 2);
    bottom: rem($spacer-unit * 2);
    pointer-events: none;
    width: rem($spacer-unit * 4);
    height: rem($spacer-unit * 3);
    background: url('../assets/svg/icon-chevron-down.svg') no-repeat right center;
  }

  .multiselect {
    min-height: 24px;

    &__select {
      min-height: 24px;

      &::before {
        display: none;
      }
    }

    &__single,
    &__placeholder {
      @include tbody;

      margin: 0;
      padding: 0;
      color: $secondary;
    }

    &__single {
      color: $secondary-dark;
    }

    &__tags {
      border: none;
      padding-top: 0;
      padding-left: 0;
      min-height: 24px;
      background-color: transparent;
    }

    &__content {

      ul {
        background-color: $lightgrey;
        li {
          background-color: $lightgrey;
          &::before {
            display: none;
          }
        }
      }

    }

    &__content-wrapper {
      border: none;
      border-radius: 0;
      background: transparent;
    }

    &__option {
      @include tbody;

      display: block;
      padding: rem($spacer-unit);

      &::after {
        background-color: $completed;
      }

      &--highlight {
        background-color: $lightgrey;
        cursor: pointer;
        font-weight: bold;
        cursor: pointer;

        &::after {
          background-color: $lightgrey;
        }
      }

      &--selected {
        background-color: $primary-light;

        &::after {
          background-color: $primary-light;
        }
      }

      &--selected.multiselect__option--highlight {
        background-color: $lightgrey;
        font-weight: bold;

        &::after {
          background-color: $lightgrey;
          font-weight: bold;
        }
      }
    }

    &__element {
      background-color: $lightgrey;
      margin-bottom: rem($spacer-unit / 2);

      &::before {
        display: none;
      }
    }

    &__input {
      margin-bottom: 0;
      padding: 0;
    }

    &__tags-wrap {
      line-height: 1;
    }

    &__tag {
      border-radius: 0;
      background-color: $secondary-light;
      padding: rem($spacer-unit) rem($spacer-unit * 4) rem($spacer-unit) rem($spacer-unit);
      color: $secondary-dark;
      margin-top: rem($spacer-unit / 2);
      margin-bottom: rem(-$spacer-unit / 2);

      &-icon {
        line-height: 29px;
        border-radius: 0;

        &:hover {
          background-color: $lightgrey;
          font-weight: bold;
        }
      }
    }

    &--disabled {
      background-color: transparent;

      .multiselect {

        &__select {
          background-color: transparent;
        }
      }
    }
  }

  &--disabled {
    background-color: $secondary-light;
    pointer-events: none;
  }

  &--error {
    border-color: $error;
    box-shadow: 0 0 0 4px $error inset;
  }
}

.c-datepicker-label {
  display: inline-block;
  background-color: $lightgrey;
  padding: rem($spacer-unit * 2);
  position: relative;

  input {
    @include tbody;

    outline: none;
    border: none;
    display: block;
    background: transparent;
    appearance: none;
    color: $secondary-dark;
    padding: 0;

    &::placeholder {
      @include tbody;

      color: $secondary;
    }
  }

  label {
    @include overline;
    font-size: rem(12px);
    display: block;
  }

  &::after {
    position: absolute;
    content: "";
    right: rem($spacer-unit * 2);
    bottom: rem($spacer-unit * 2);
    pointer-events: none;
    width: rem($spacer-unit * 4);
    height: rem($spacer-unit * 3);
    background: url('../assets/svg/icon-calendar.svg') no-repeat center center;
  }

  .vdp-datepicker {

    &__calendar {
      border: 0;

      header {

        .prev {
          background-color: $secondary;

          &:not(.disabled):hover {
            background-color: $secondary-light;
          }

          &::after {
            border: 0;
            width: rem(10px);
            height: rem($spacer-unit * 2);
            background: url('../assets/svg/icon-chevron-left.svg') transparent;
          }
        }

        .up {
          @include overline;

          height: 40px;
          background-color: $secondary;
          color: $white;
          display: flex;
          justify-content: center;
          align-items: center;

          &:not(.disabled):hover {
            background-color: $secondary-dark;
          }
        }

        .next {
          background-color: $secondary;

          &:not(.disabled):hover {
            background-color: $secondary-light;
          }

          &::after {
            border: 0;
            width: rem(10px);
            height: rem($spacer-unit * 2);
            background: url('../assets/svg/icon-chevron-right.svg') transparent;
          }
        }
      }

      .cell.day-header {
        @include overline;

        height: auto;
        margin: rem($spacer-unit) 0;
      }

      .cell.day:not(.blank):not(.disabled) {
        @include overline;

        color: $secondary;
        background-color: $secondary-light;
        border: 2px solid $white;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        &:hover,
        &.selected {
          border: 2px solid $white;
          background-color: $secondary;
          color: $white;
        }
      }
    }

    &__clear-button {
      display: none;
    }
  }
}

.c-checkbox {

  input[type=checkbox] {
    appearance: none;
    position: relative;
    top: 2px;
    width: rem($spacer-unit * 2);
    height: rem($spacer-unit * 2);
    margin-right: rem($spacer-unit / 2);
    outline: none;

    &::before {
      display: block;
      top: 0;
      left: 0;
      content: "";
      border: solid 1px $secondary;
      width: rem($spacer-unit * 2);
      height: rem($spacer-unit * 2);
      background: $white;
      box-shadow: 0 0 0 2px $white inset;
    }

    &:checked {

      &::before {
        background: $secondary;
      }
    }
  }

  label {
    color: $secondary-dark;
  }
}

.c-radio {

  input[type=radio] {
    appearance: none;
    position: relative;
    top: 2px;
    width: rem($spacer-unit * 2);
    height: rem($spacer-unit * 2);
    margin-right: rem($spacer-unit / 2);
    outline: none;

    &::before {
      display: block;
      top: 0;
      left: 0;
      content: "";
      border-radius: 50%;
      border: solid 1px $secondary;
      width: rem($spacer-unit * 2);
      height: rem($spacer-unit * 2);
      background: $white;
      box-shadow: 0 0 0 2px $white inset;
    }

    &:checked {

      &::before {
        background: $secondary;
      }
    }
  }

  label {
    color: $secondary-dark;
  }
}
