.c-image-header {
  width: 100%;
  position: relative;

  @media (min-width: $sm) {
    height: 480px;
  }

  &__date {
    color: $tipi-yellow;
    background-color: $black;
    display: inline-block;
    padding: 16px;
    margin: 0;
    position: absolute;
    bottom: 100px;
    left: 32px;

    @media (min-width: $sm) {
      bottom: 112px;
      font-size: rem(48px);
      line-height: rem(64px);
    }

    &_title {
      background-color: $tipi-yellow;
      display: inline-block;
      padding: 16px;
      margin: 0;
      position: absolute;
      left: 32px;
      bottom: 32px;

      @media (max-width: $xs) {
        bottom: 0;
      }
    }
  }

  &__author {
    position: absolute;
    bottom: 32px;
    right: 32px;
    background-color: white;
    padding: 8px;

    a {
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;

      &:hover {
        text-decoration: underline;
      }

      .c-icon {
        margin-right: 8px;
      }
    }
  }

  figure {
    margin: 0;
    overflow: hidden;
    max-height: 480px;

    img {
      width: 100%;
    }
  }
}
