.c-deputy {
  padding: rem($spacer-unit * 8) rem($spacer-unit * 4) rem($spacer-unit * 4);
  background-color: $secondary-light;
  color: $secondary-dark;

  @media (min-width: $md) {
    margin-bottom: rem($spacer-unit * 4);
  }

  &__image_container {
    position: relative;
    width: rem($spacer-unit * 20);
    height: rem($spacer-unit * 20);
    margin: 0 auto 30px;

    @media (min-width: $md) {
      width: rem($spacer-unit * 20);
      height: rem($spacer-unit * 20);
    }
  }

  &__image {
    width: rem($spacer-unit * 20);
    height: rem($spacer-unit * 20);
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid $secondary;
    margin: 0 auto rem($spacer-unit) auto;
    display: block;
    position: absolute;
    z-index: 0;

    @media (min-width: $md) {
      margin: 0 0 0 auto;
    }
  }

  &__name {
    @include th2;

    text-align: center;
    margin: 0 0 rem($spacer-unit) 0;

    @media (min-width: $sm) {
      text-align: left;
    }
  }

  &__group {
    @include subtitle;

    text-transform: uppercase;
    margin: 0 0 rem($spacer-unit) 0;
    text-align: center;

    @media (min-width: $sm) {
      text-align: left;
    }

    a {
      text-decoration: none;
      color: $secondary-dark;
    }
  }

  &__description {
    @include subtitle;

    text-align: center;

    @media (min-width: $sm) {
      text-align: left;
    }
  }

  &__links {
    @include th2;

    color: $secondary-dark;
    text-align: center;

    @media (min-width: $sm) {
      text-align: left;
    }

    a {
      color: $secondary-dark;
      text-decoration: none;
      display: block;

      @media (min-width: $md) {
        display: inline-block;
        margin-right: rem($spacer-unit * 2);
      }
    }
  }

  &__extra {
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;

    @media (min-width: $md) {
      text-align: left;
    }
  }

  &__personal {
    margin-right: 16px;

    span {
      margin-right: 4px;
    }
  }

  &__more {
    text-align: center;

    @media (min-width: $md) {
      text-align: left;
    }

    a, a:hover {
      color: $secondary-dark;
      font-weight: 500;
      text-decoration: none;

      .c-icon {
        margin-left: 8px;
      }
    }
  }

  &__info {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    margin-top: rem($spacer-unit * 8);

    h3 {
      color: $secondary;
      font-size: 12px;
    }

    p, a {
      margin-top: 8px;
      margin-bottom: 8px;
    }

    a {
      font-weight: 500;
      color: $secondary-dark;
    }

    span {
      margin-right: 8px;
    }
  }

  &__hidden {
    display: none;
  }

  &__birthday {
    background: url('../assets/birthday_bg.png');
  }
}
