.u-text-th1 {
  @include th1;
}

.u-text-th2 {
  @include th2;
}

.u-text-th3 {
  @include th3;
}

.u-text-th4 {
  @include th4;
}

.u-text-th5 {
  @include th5;
}

.u-text-subtitle {
  @include subtitle;
}

.u-text-overline {
  @include overline;
}

.u-text-tbody {
  @include tbody;
}

.u-text-tbody2 {
  @include tbody2;
}

.u-uppercase {
  text-transform: uppercase;
}
